/**
*    @package		Boilerplate
*    @subpackage	CSS
*    @author		Ben Sekulowicz-Barclay
*    @version		0.1
**/

@media all {
	html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	background:transparent;
	border:0;
	font-size:100%;
	margin:0;
	padding:0;
	outline:0;
	vertical-align:baseline
	}

	body {
	line-height:1
	}

	article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block
	}

	nav ul {
	list-style:none
	}

	blockquote,q {
	quotes:none
	}

	blockquote:before,
	blockquote:after,
	q:before,
	q:after {
	content:'';
	content:none
	}

	a {
	background:transparent;
	font-size:100%;
	margin:0;
	padding:0;
	vertical-align:baseline
	}

	ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none
	}

	mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold
	}

	del {
	text-decoration:line-through
	}

	abbr[title],dfn[title] {
	border-bottom:1px dotted inherit;
	cursor:help
	}

	table {
	border-collapse:collapse;
	border-spacing:0
	}

	hr {
	border:0;
	border-top:1px solid #cccccc;
	display:block;
	height:1px;
	margin:1em 0;
	padding:0
	}

	input,select {
	vertical-align:middle
	}
}

@media screen {
	body {
	background:#FFF;
	font-size:100%
	}

	.implied {
	clip:rect(1px,1px,1px,1px);
	position:absolute !important
	}

	.ielt8 .implied {
	height:1px;
	left:-999px;
	overflow:hidden;
	position:absolute;
	text-indent:-999px;
	top:-999px;
	width:1px
	}

	h1,h2,h3,h4,h5,h6,p,blockquote,pre,address,cite,code,dl,ol,ul,label,legend,table,caption {
	display:block;
	font:normal normal 400 1em/1.5em Georgia,Serif;
	list-style:none;
	margin:0 0 1.5em;
	text-rendering:optimizeLegibility
	}

	dd,dt,li {
	display:block;
	margin:0;
	padding:0
	}

	abbr,acronym {
	border:none;
	cursor:help
	}

	a abbr,a acronym {
	cursor:pointer
	}

	pre,code,kbd,samp {
	font-family:monospace,sans-serif
	}

	.elementSelector:after {
	clear:both;
	content:'.';
	display:block;
	height:0;
	visibility:hidden
	}

	.ie .elementSelector {
	zoom:1
	}
}

@media print {
	* {
	background:transparent !important;
	color:#000 !important;
	text-shadow:none
	}

	a,
	a:visited {
	color:#444 !important;
	text-decoration:underline
	}

	a:after {
	content:" (" attr(href) ")"
	}

	abbr:after {
	content:" (" attr(title) ")"
	}

	blockquote,img,pre {
	page-break-inside:avoid
	}

	img {
	page-break-inside:avoid
	}

	@page {
	margin:0.5cm
	}
}