/*
 *  @package	  Project Name
 *  @subpackage	CSS
 *  @author		  Ben Sekulowicz-Barclay
 *  @version	  0.1
 */

* {
font-size:100%
}

html * {
background:transparent;
border:0;
margin:0;
padding:0;
outline:0;
vertical-align:baseline
}

body {
background-color:#fff;
color:#000;
line-height:1
}

article,
aside,
figcaption,
figure,
footer,
header,
section,
blockquote,
dl,
h1,
h2,
h3,
ol,
p,
pre,
ul {
display:block
}

article:last-child,
section:last-child,
dl:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
ol:last-child,
p:last-child,
pre:last-child,
ul:last-child {
margin-bottom:0
}

.ielt9 article.last-child,
.ielt9 section.last-child,
.ielt9 dl.last-child,
.ielt9 h1.last-child,
.ielt9 h2.last-child,
.ielt9 h3.last-child,
.ielt9 ol.last-child,
.ielt9 p.last-child,
.ielt9 pre.last-child,
.ielt9 ul.last-child {
margin-bottom:0
}

blockquote,
code,
dl,
h1,
h2,
h3,
ol,
p,
pre,
ul {
font:normal normal 400 1.125em/1.5em serif;
list-style:none;
-moz-text-size-adjust:none;
-ms-text-size-adjust:none;
-o-text-size-adjust:none;
-webkit-text-size-adjust:none;
text-size-adjust:none
}

a {
text-decoration:underline
}

a:hover {
text-decoration:none
}

h1 a,
h2 a,
h3 a {
color:inherit
}

abbr[title] {
border:none;
cursor:help
}

abbr[title]:hover {
cursor:help;
text-decoration:underline
}

blockquote > p {
font-style:italic
}

blockquote > p:first-child:before {
content:"\2018"
}

blockquote > p:last-child:after {
content:"\2019"
}

code {
font-family:monospace, sans-serif
}

h1,
h2,
h3 {
font-weight:700
}

img {
display:block
}

li {
display:list-item
}

strong {
font-weight:600
}

.element:after {
clear:both;
content:'.';
display:block;
height:0;
visibility:hidden
}

.ie .element {
zoom:1
}

@media screen {
  .ns {
  clip:rect(1px, 1px, 1px, 1px);
  height:auto !important;
  position:absolute !important;
  width:auto !important
  }

  .ie .ns {
  display:none  
  }
}

@media print {
  .np {
  clip:rect(1px, 1px, 1px, 1px);
  height:auto !important;
  position:absolute !important;
  width:auto !important
  }
}